sample/*.out
obj/
progres
test/*.o
test/progrestest
test/coverage.txt
*.gcno
*.gcda
generated-docs/
.vscode/settings.json
IDE/IDE.layout
benchmarks/
test/cov_reports/
autom4te.cache/
autoscan.log
config.log
config.status
aclocal.m4
compile
install-sh
missing
stamp-h1
