<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="EdicaoDeSinal">
		<title>Arquivo de entrada</title>
		<size>590,366</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="txtWaveIn" member="yes">
			<pos>8,8</pos>
			<size>576,320</size>
			<style>wxTE_MULTILINE</style>
		</object>
		<object class="wxButton" name="idBtn_Salvar" variable="btnSalvar" member="yes">
			<label>Salvar</label>
			<pos>480,336</pos>
			<size>104,23</size>
			<handler function="OnbtnSalvarClick" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
