
body {
  background: #000;
}

.code-window {
  width: 800px;
  height: 500px;
  background-color: #111;
  margin: 3.0rem auto;
  overflow: hidden;
  border-radius: 0.5rem;
}

.code-title {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.0rem;
  font-family: sans-serif;
  background-color: #777;
}

.code-editor {
  position: relative;
  width: 100%;
  height: 100%;
}